.center-align {
	text-align: center;
}

.left-align {
	text-align: left;
	position: absolute;
}

ul {
	display: inline-block;
}

label {
	display: inline-block;
}

input {
	display: inline-block;
}

table {
	display: inline-block;
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	display: inline-block;
	padding: 5px;
	border-bottom: 1px solid #aaa;
	position: absolute;
}
